__pycache__
.ruff_cache
.vscode
build
CMakeFiles
libMeshb
output
setup.py
*.csv
*.dat
*.egg-info
*.lock
*.log
*.mesh
*.meshb
*.png
*.prof
*.pt
*.pyc
*.so
*.sol
*.solb
*.su2
*.vizir
*.vtk
*.vtu
*.yaml
*.yml