# Workspace
.ruff_cache
.vscode
*.lock

# Build
__pycache__
build
dist
*.egg-info
*.html
*.prof
*.pyc
*.so
*.tar.gz
*.whl

# Config
*.yaml
*.yml

# Python logs and outputs
output
*.csv
*.log
*.out
*.pt
*.png

# GMF and vizir
*.mesh
*.meshb
*.sol
*.solb
*.state
*.vizir

# SU2 and VTK
*.cfg
*.dat
*.su2
*.vtk
*.vtu